.scrollable::-webkit-scrollbar {
  width: 12px;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #39ff14;
}

.scrollable {
  overflow-y: scroll;
}

.small {
  height: 7rem;
}
.x-small {
  height: 3rem;
}
